<html lang="en">
<%- include('./partials/head.ejs')   %>


    <body>
        <%- include('./partials/navbar.ejs')   %>

            <% let date = new Date() %>
                <% let dateNow = `${date.getFullYear()}-${("0" + (date.getUTCMonth() + 1)).slice(
    -2
  )}-${date.getUTCDate()}` %>

                    <div class="container-fluid  align-items-center text-center mt-5 px-0" id="mainContainer">
                        <div class="container mt-5 text-left">


                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Exercise Tracker</h5>
                                    <p>A tool to let you log your exercise activities. You will need a user id to log an activity. If you don't have one, <a href="/exercisetracker-new-user">click here to create a new user-id</a>. </p>

                                    <br>

                                    <form class="form" action="/api/exercise/add" method="post">
                                        <h6>Log a new activity:</h6>
                                        <div class="form-group row">
                                            <label for="userId" class="col-12 col-lg-2 col-form-label">id* (<a href="/exercisetracker-forgot-id">forgot id ?</a>)</label>
                                            <div class="col-12 col-lg-10">
                                                <input type="text" class="form-control" id="userId" name="userId" placeholder="00000000">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="description" class="col-12 col-lg-2 col-form-label">Short description*</label>
                                            <div class="col-12 col-lg-10">
                                                <input type="text" class="form-control" id="description" name="description" placeholder="">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="duration" class="col-12 col-lg-2 col-form-label">Duration (mins)*</label>
                                            <div class="col-12 col-lg-10">
                                                <input type="number" min='0' class="form-control" id="duration" name="duration" placeholder="0">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="date" class="col-12 col-lg-2 col-form-label">Date (YYYY-MM-DD)</label>
                                            <div class="col-12 col-lg-10">
                                                <input type="text" min='0' class="form-control" id="date" name="date" <%="placeholder=" %>
                                                <%=dateNow%>>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-dark mb-2 btn-block">Submit</button>


                                    </form>

                                </div>
                            </div>



                            <%- include('./partials/exerciseTracker_api.ejs')   %>

                        </div>

    </body>

</html>